<nav>
    <div class="site-title">
        <h1><a href="/">Employee Manager</a></h1>
    </div>
    <ul>
        <li><a href="/employee/create">Create</a></li>
        <li><a href="/employee/employees">Employees</a></li>
        <li><a href="">Attendance</a></li>
    </ul>
</nav>