<nav>
    <div class="site-title">
        <h1><a href="">Employee Attendance Manager</a></h1>
    </div>
    <ul>
        <li><a href="/attendance/create">Add</a></li>
        <li><a href="/attendance/details">Attendance</a></li>
        <li><a href="/employee/employees">Employee</a></li>
    </ul>
</nav>