<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EM | <%= title %> </title>
        <link rel="stylesheet" href="/style.css">
        <!-- Awesome Fonts Link to StyleSheet -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
    </head>
<body>
    <div class="content create-employee">
        <form action="/attendance/mark" method="post">
            <label for="employeeID">Employee ID: </label>
            <input type="number" name="employeeID" class="employeeID" placeholder="Enter ID">
            <label for="name">Employee Name: </label>
            <select name="name" class="name">
                <option value="" disabled selected hidden>Select Employee Name</option>
                <% if (employees.length>0) { %>
                    <% employees.forEach(employee => { %>
                        <% if (employee) { %>
                            <option value="<%= employee.name %>"><%= employee.name %> </option>
                        <% } %> 
                    <% }); %>  
                <% } %> 
            </select>
            <button>Submit</button>
        </form>
    </div>
    <footer>
        Copyright &copy; Rushabh Porwal 2021
    </footer>
</body>
</html>